.food {
    width: 1130px;
    height: 680px;
    margin: auto;
    
        
    &_title {
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #000000;
        text-align: center;
    }

    &_title span {
        color: #D67E34;
    }

    &_img {
        width: 445px;
        height: 478px;
    }

    &_images {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 30px;
    }

    &_img_2 {
        width: 160px;
        height: 140px;
    }

    &_texts {
        display: flex;
        flex-direction: column;
        gap: 150px;
        margin: 30px;
    }

    &_text {
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
// background-color: red;
    }

    &_contents {
        display: flex;
        margin-top: 30px;
    }
}