.gallery {
    width: 1440px;
    height: 700px;
    margin: auto;

    &_title {
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #000000;
        text-align: center;
    }

    &_title span {
        color: #D67E34;
    }

    &_images {
        width: 1100px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin: 50px auto;
    }

    &_img_1 {
        width: 540px;
        height: 274px;
    }

    &_img_2 {
        width: 255px;
        height: 274px;
    }

    &_img_3 {
        width: 253px;
        height: 274px;
    }
}