.menu {
    width: 1440px;
    height: 1036px;
    margin: auto;
    background-image: url(../images/menu_bg.png);
    background-repeat: no-repeat;
    background-size: contain;

    &_title {
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 62px;
        color: #FFFFFF;
        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        padding-top: 50px;

    }

    &_cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 100px auto;
    }

    &_card {
        width: 350px;
        height: 510px;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 100px;
    }

    &_card_img {
        width: 225px;
        height: 225px;
        margin: 0px 60px;
        margin-top: 30px;
    }

    &_card_price {
        font-family: 'Cookie';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 33px;
        color: #FFFFFF;
        position: absolute;
        top: 25px;
        left: 25px;

    }

    &_card_price_div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #D67E34;
        border: 5px solid rgb(201, 199, 199);
        position: relative;
        bottom: 130px;
        left: 200px;
    }

    &_card_title {
        width: 188px;
        height: 30px;
        font-family: 'Tinos';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 30px;
        color: #000000;
        margin: auto;
    }

    &_card_text {
        width: 216px;
        height: 37px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        margin: 10px auto;

    }

    &_card_btn {
        width: 220px;
        height: 50px;
        background-color: #D67E34;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
        border: none;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 70px;
    }

    &_card_btn:hover {
        background-color: #000000;
        color: cyan;
        transition: all 1s ease;
    }

    &_card_btn:active {
        background-color: #000000;
        color: blue;
    }

    &_texts_btn {
        position: relative;
        bottom: 60px;
    }
}