@import "./general";
@import "./navbar";
@import "./intro";
@import "./story";
@import "./best_restaurants";
@import "./food";
@import "./menu";
@import "./comments";
@import "./gallery";
@import "./cheff";
@import "./footer";